[submodule "src/external/blizzard-database-library"]
	path = src/external/blizzard-database-library
	url = https://github.com/Jedert-ShadowWorld/ShadowWorld-Blizzard-Database-Library.git
	branch = shadowworld-modern-retail-preview
[submodule "src/external/blizzard-archive-library"]
	path = src/external/blizzard-archive-library
	url = https://github.com/Jedert-ShadowWorld/ShadowWorld-Blizzard-Archive-Library.git
	branch = shadowworld-modern-retail-preview
[submodule "cmake"]
	path = cmake
	url = https://github.com/Jedert-ShadowWorld/ShadowWorld-Noggit-Red-Modern.git
	branch = dependency-cmake-noggit
[submodule "dist/listfile"]
	path = dist/listfile
	url = https://gitlab.com/prophecy-rp/build-dependencies.git
	branch = dist-listfile
[submodule "dist/definitions"]
	path = dist/definitions
	url = https://github.com/Jedert-ShadowWorld/ShadowWorld-DBD-Definitions.git
	branch = shadowworld-modern-retail-preview
[submodule "dist/themes"]
	path = dist/themes
	url = https://gitlab.com/prophecy-rp/build-dependencies.git
	branch = dist-themes
